.contactus-title {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}
.contactus-form-wrapper {
  flex-basis: 100%;
}
.contactus-map-wrapper {
  flex-basis: 100%;
}
.map-img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
}

.form-footer-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  gap: 10px;
}
.justify-end {
  justify-content: end;
}
.form-footer-wrapper div {
  flex-basis: 90%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  line-height: 3;
  letter-spacing: 1px;
  border-radius: 5px;
}

.notification-wrapper {
  display: flex;
  justify-content: space-between;
}
.notification-wrapper span {
  padding: 0px 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--light);
}
.danger {
  background-color: var(--danger);
}
.success {
  background-color: var(--success);
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .contactus-form-wrapper {
    flex-basis: 40%;
  }
  .contactus-map-wrapper {
    flex-basis: 40%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
